h1 {
  color: #921010;
  text-shadow: 9px 3px 7px #0000004f;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-p {
  font-size: 14px;
}

ul.ul-test {
  display: block;
  list-style: none;
}

ul > li{
  color: #921010;
}